@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 72.22% 50.59%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5% 64.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --s50: #f8fafc;
    --s200: #e2e8f0;
    --s300: #cbd5e1;
    --s400: #94a3b8;
    --s500: #64748b;
    --s900: #0f172a;

    --border: #cbd5e1;
    --CNodeSticker-border: #0ea5e9;
    --CNodeSticker-tool: #0ea5e9;
    --toast_dom_info: #6ee7b7;
    --dropTargetTip: #22c55e;
    --dropTargetTip-ban: #dc2626;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    --s50: #f8fafc;
    --s200: #e2e8f0;
    --s300: #cbd5e1;
    --s400: #94a3b8;
    --s500: #64748b;
    --s900: #0f172a;

    --border: #cbd5e1;
    --CNodeSticker-border: #0ea5e9;
    --CNodeSticker-tool: #0ea5e9;
    --toast_dom_info: #6ee7b7;
    --dropTargetTip: #22c55e;
    --dropTargetTip-ban: #dc2626;
  }
}

@layer base {
  * {
    border-color: var(--border);
  }

  html {
    scroll-behavior: smooth;
    font-size: 16px;
  }

  body {
    background-color: hsl(var(--secondary));
    color: hsl(var(--foreground));
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
    position: relative;
  }
}

/**
 * *********************************************************************************************************
 * *********************************************************************************************************
 */

@layer base {
  html {
    @apply h-full;
    @apply overflow-hidden;
  }

  body {
    @apply h-full;
    @apply overflow-hidden;
  }

  #root {
    @apply h-full relative z-0;
    @apply overflow-hidden;
  }
}

@layer base {
  .Icon_CNode_UI_Left {
    @apply w-4 h-4 mr-2;
  }

  .doing {
    animation: doing 1.5s linear 0s infinite;
  }

  .active>.Icon_tip_codeGen.success {
    animation: success 2.4s linear 0s infinite;
  }

  .active>.Icon_tip_codeGen.fail {
    animation: fail 1.5s linear 0s infinite alternate;
  }


  @keyframes doing {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  @keyframes success {
    0% {
      transform: rotate3d(0, 1, 0, 0deg);
    }

    50% {
      transform: rotate3d(0, 1, 0, 360deg);
    }

    100% {
      transform: rotate3d(0, 1, 0, 360deg);
    }
  }

  @keyframes fail {
    from {
      transform: scale(0.8);
    }

    to {
      transform: scale(1.2);
    }
  }
}